<!-- navigation -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark">
    <div class="container-fluid mx-5">
      <a class="navbar-brand mb-0 h1" href="#">LOGO</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarText"
        aria-controls="navbarText"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/index.html"
              >HOME</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./pages/work.html">WORK</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./pages/contact.html">CONTACT</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./pages/about-me.html">ABOUT ME</a>
          </li>
        </ul>
        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="./pages/signup.html"> <%= player %></a>
          </li>
          <li class="nav-items <%- player !== '' ? 'd-none' :'' ; %> ">
            <a class="nav-link" href="./pages/signup.html">SIGN UP</a>
          </li>
          <li class="nav-item <%- player !== '' ? 'd-none' :'' ; %>">
            <a class="nav-link" href="/login">LOGIN</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
