<footer class="px-5 py-3">
    <div class="menu-footer">
      <div class="link-footer mx-5">
        <a href="#main-screen">home</a>
        <a href="#game-choice">about</a>
        <a href="#features">game features</a>
        <a href="#requirements">system requirements</a>
        <a href="#top-score">quotes</a>
      </div>
      <div class="social-footer">
        <a href=""><img src="/pict/facebook.svg" alt="" /></a>
        <a href=""><img src="/pict/twitter.svg" alt="" /></a>
        <a href=""><img src="/pict/Vector.svg" alt="" /></a>
        <a href=""><img src="/pict/twitch.svg" alt="" /></a>
      </div>
    </div>
    <hr />
    <div class="claim">
      <div>
        <span>2018 yor fames, inc. all rights reserved</span>
      </div>
      <div>
        <a href="">privacy policy |</a>
        <a href="">terms of services |</a>
        <a href="">code of conduct</a>
      </div>
    </div>
  </footer>