<%- include('./partials/head.ejs') %>
<body>
    
    <section class="vh-100 gradient-custom">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
              <div class="card bg-dark text-white" style="border-radius: 1rem;">
                <div class="card-body p-5 text-center">
      
                  <div class="mb-md-5 mt-md-4 pb-5">
      
                    <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
                    <p class="text-white-50 mb-5">Please enter your login and password!</p>
      
                    <form action="/login" method="post">
                        <div class="form-floating">
                        <!-- <div class=""> -->
                            <input placeholder="Your email" class="form-control" type="email" name="email"><br>
                            <label class="form-label" for="formControlReadonly">Email</label>
                        
                            <input placeholder="Your password" class="form-control" type="password" name="password"><br>
                            <label class="form-label" for="formControlReadonly">Password</label> <br>
                        </div>
                        <input type="submit" class="btn btn-outline-light btn-lg px-5" value="Submit">
                        </form>
      
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>


<%- include('./partials/script.ejs') %>
</body>
</html>