<section id="requirements">
    <div class="vignete">
      <div class="shadow container-fluid">
        <div class="container reflect">
          <div class="row">
            <p class="col text-white text-center mb-1 mb-md-3">
              Can My Computer Run this game?
            </p>
          </div>

          <div class="row my-lg-5">
            <h2
              class="col-6 col-sm-auto text-white text-uppercase fs-1 h1 fw-normal"
            >
              System Requirements
            </h2>
          </div>
          <div class="row mx-2">
            <div class="col-lg-3 col-md-6 col-sm-6 aborder py-3">
              <h3 class="text-color">OS:</h3>
              <p class="text-white">
                Windows 7 64-bit only (no OSX support at this time)
              </p>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 aborder py-3">
              <h3 class="text-color">Processor:</h3>
              <p class="text-white">
                Intel Core 2 Duo @ 2.4 GHZ or AMD Athion X2 @2.8 GHZ
              </p>
            </div>
          </div>
          <div class="row mx-2">
            <div class="col-lg-3 col-md-6 col-sm-6 aborder py-3">
              <h3 class="text-color">Memory:</h3>
              <p class="text-white">4 GB RAM</p>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 aborder py-3">
              <h3 class="text-color">Storage:</h3>
              <p class="text-white">8 GB available space</p>
            </div>
          </div>

          <div class="row mx-2">
            <div class="col-lg-6 col-md-12 col-sm-12 aborder py-3">
              <h3 class="text-color">GRAPHICS:</h3>
              <p class="text-white">
                NVIDIA GeForce GTX 6620 2GB or AMD Radeon HD 7850 2GB
                DirectX11 (Shader Model 5)
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>