<section id="subscriptions" class="container-fluid">
    <div class="row h-100">
      <div class="col-md-6 d-flex justify-content-center">
        <img class="align-self-center" src="/pict/newsletter.png" alt="">
      </div>
      <div class="col-md-6 d-flex justify-content-center align-items-start px-3 flex-column">
        <div class="align-self-start w-50">
          <p class="text-white">Want to stay in touch?</p>
          <h2 class="text-white fs-1 h1 text-uppercase">newsletter subscribe</h2>
          <p class="text-white">In order to start receiving our news, all you have to do is enter your email address. Everything else will be taken care of by us. We will send you emails containing information about game. We don’t spam.
          </p>

        </div>

        <div class="d-flex justify-self-end">

          <div class="form-floating">
            <input
            class="form-control"
            type="text"
            placeholder="youremail@binar.co.id"
            id="floatingInput"
            />
            <label class="floatingInput" for="formControlReadonly">your e-mail address</label>
            
          </div>
          <button class="mx-2 btn btn-warning fw-bold py-2 px-5 text-capitalize" type="button">SUBSCRIBE NOW</button>
        </div>
      </div>
    </section>