<section id="features" class="container-fluid">
    <div class="row">
      <div class="col-6"></div>
      <div class="col-lg-6">
        <div>
          <p class="text-sm-center text-lg-start">What's so special?</p>
          <h3 class="fs-1 h1 text-sm-center text-lg-start">FEATURES</h3>
        </div>
        <div>
          <button class="accordion">
            <div class="icon"></div>
            <h5 class="text-uppercase">Traditional games</h5>
          </button>

          <div class="panel">
            <p class="px-3">
              If you miss your childhood, we provide many traditional games
              here
            </p>
          </div>

          <button class="accordion">
            <div class="icon"></div>
            <h5 class="text-uppercase">game suit</h5>
          </button>
          <div class="panel">
            <p class="pl-2">Lorem ipsum...</p>
          </div>

          <button class="accordion">
            <div class="icon"></div>
            <h5 class="text-uppercase">TBD</h5>
          </button>
          <div class="panel">
            <p class="pl-2">Lorem ipsum...</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>