<section
      id="main-screen"
      class="d-flex flex-column justify-content-center align-items-center"
    >
      <div class="d-flex flex-column justify-content-center align-items-center">
        <h1 class="fw-bolder fs-1 h1">PLAY TRADITIONAL GAME</h1>
        <p class="my-5">Experience new traditional game play</p>
        <a href="/trial">
          <button class="btn btn-warning fw-bold py-2 px-5">PLAY NOW</button>

        </a>
      </div>
      <div class="to-bottom">
        <a
          class="d-flex flex-column justify-content-center align-items-center link-light text-decoration-none"
          href="#game-choice"

        >
          
        </div>
        <div class="to-bottom">
          <a
            class="d-flex flex-column justify-content-center align-items-center link-light text-decoration-none"
            href="#game-choice"
          >
            <p class="mb-0">THE STORY</p>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="32"
              height="32"
              fill="currentColor"
              class="bi bi-caret-down"
              viewBox="0 0 16 16"
            >
              <path
                d="M3.204 5h9.592L8 10.481 3.204 5zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659z"
              />
            </svg>
          </a>
        </div>
      </section>