*{
  margin: 0px;
  padding: 0px;
}

/* assets */
section{
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-size: cover;
}

/* nav */
nav{
  background-color: rgba(0, 0, 0, 0.5);
}

/* main screen */
#main-screen{
  background-image: url(./pict/main-bg.jpg);
  color: antiquewhite;
}

.to-bottom{
  position: absolute;
  bottom: 0;
}

/* game choice */
#game-choice{
  background-image: url(./pict/the-games-bg.jpg);
  color: antiquewhite;
}

  #game-choice > .row {
    padding: 10% 0;
  }