* {
  margin: 0px;
  padding: 0px;
}

/* assets */
section {
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-size: cover;
}

/* nav */
nav {
  background-color: rgba(0, 0, 0, 0.5);
}

/* main screen */
#main-screen {
  background-image: url(./pict/main-bg.jpg);
  color: antiquewhite;
}

.to-bottom {
  position: absolute;
  bottom: 0;
}

/* game choice */
#game-choice {
  background-image: url(./pict/the-games-bg.jpg);
  color: antiquewhite;
}

#game-choice>.row {
  padding: 10% 0;
}

/* features */
#features {
  background-image: url(./pict/features.jpg);
  color: antiquewhite;
  padding-top: 30vh;
}

.accordion {
  background-color: rgba(201, 123, 178, 0);
  color: rgb(178, 202, 73);
  cursor: pointer;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  margin-bottom: 0.5rem;
}

.accordion .icon{
  margin-right: 1rem;
  width: 30px;
  height: 30px;
  background-color: rgba(127, 255, 212, 0);
  border: 1px solid antiquewhite;
  border-radius: 50%;
  float: left;
  transition: all .5s ease-in;
}

.panel {
  padding: 0 1rem;
  display: none;
  overflow: hidden;
  transition: all .5 ease-in;
}

.panel p {
  border-left: 1px solid antiquewhite;
  margin: 0px;
  padding: 0.7rem;
  transition: all .5 ease-in;
}

.panel :hover {
  
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.747) , rgba(0, 0, 0, 0.336), rgba(0, 0, 0, 0));
}

.active-accordion{
  margin-right: 10px;
  margin-top: 0px;
  margin-bottom: 0;
  width: 30px;
  height: 30px;
  background-color: rgba(127, 255, 212, 0);
  border: 1px solid antiquewhite;
  border-radius: 50%;
  
  transition: all .5s ease-in;
}

.active-accordion h5 {
  width: 80vw;
}

.active-accordion .icon{
  background-color: antiquewhite;
}
